body {
    font-family: "Open Sans", sans-serif;
    background: #F8F8F8;
}
.topic-content > * {
    display: none;
}

.topic-content.active > * {
    display: block;
}

.path-wrapper .description {
   margin-bottom: 15px;
}

.path-name, .tips h2 {
    margin-bottom: 10px;
}

.do {
    padding: 1px 20px;
    background: #EDFFED;
    border-radius: 10px;
}

.do-not {
    padding: 1px 20px;
    background: #FFF0F0;
    border-radius: 10px; 
}

.resources {
    width: 85%;
    background: #f3f3f3;
    padding: 5px 25px 20px 25px;
    margin: 10px;
    border-radius: 10px;
}

.resources li {
    margin-top: 10px;
}

.path-topics {
    margin: 0px 0px 0px 35px;
    display: block;
}

.topic {
    cursor: pointer;
    color: #76BFE5;
}

.topic:hover {
    color: #777;
}

.topic .arrow {
    background: url('/img/nav-arrow.png');
    height: 7px;
    width: 14px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 3px;
}

.active .arrow {
    background-position: 14px;
}

.jumbotron {
    width: 100%;
    height: 450px;
    background: url('/img/cover-photo.png') fixed center;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
}

.jumbotron h1 {
    display: hidden;
    opacity: 0;
    font-style: italic;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    margin: 0;
    color: #fff;
    font-size: 150px;
    padding-top: 60px;
}

.jumbotron p {
    display: hidden;
    opacity: 0;
    font-size: 15px;
    width: 73%;
    text-align: right;
    color: #fff;
    margin: 0;
}

.jumbotron img {
    width: 75px;
}

.main-content {
    max-width: 800px;
    margin: 0px auto;
    border-radius: 5px;
    position: relative;
    top: -65px;
    background-color: #fff;
    border: 1px #e6e6e6 solid;
    padding: 0px 30px 50px 30px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    font-weight: 400;
}

li {
    list-style: none;
}

a { 
    color: #76BFE5;
    text-decoration: none;
}

a:hover {
    color: #999;
}

 a:visited {
    color: none;
 }

.footer {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px;
}

.footer .links {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.footer li {
    display: inline-block;
}

.twitter {
    background: url('/img/twitter.png') no-repeat;
    height: 35px;
    width: 35px;
    margin: 5px
}

.fb {
    background: url('/img/facebook.png') no-repeat;
    height: 35px;
    width: 35px;
    margin: 5px
}

.github {
    background: url('/img/github.png') no-repeat;
    height: 35px;
    width: 35px;
    margin: 5px
}

.active {
    color: #777;
}

@media (max-width: 760px) {
    .jumbotron h1 {
        font-size: 105px;
    }
}

@media (max-width: 540px) {
    .jumbotron h1 {
        padding-top: 100px;
        font-size: 75px;
    }
}

@media (max-width: 360px) {
    .jumbotron h1 {
        padding-top: 120px;
        font-size: 55px;
    }

    .jumbotron p {
        width: 90%;
    }
}
